$color-red:rgb(248, 70, 70);
$color-gray:rgb(199, 199, 199);
$color-green:rgb(79, 182, 87);
$color-white:white;
$color-green-alpha:rgba(17, 86, 33, 0.408);
$color-gold:rgb(253, 197, 91);
$color-orange:rgb(250, 158, 52);

a {
    text-decoration: none;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: $color-gray;

    .row {
        justify-content: space-between;

        .col {
            display: flex;

            .col {
                font-size: 0.75em;
                line-height: 50px;
                text-align: center;
            }

            .donate {
                background-color: $color-green;
            }

            a {
                color: $color-white;
            }
        }



    }
}

.header {
    height: 75px;
    background-color: $color-red;

    .row {
        margin-top: 20px;
    }

    .header_item {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                display: flex;

                .row {
                    margin: 15px;

                    .header_item_logo {
                        width: 45px;
                        height: 45px;
                        border-radius: 100%;
                        background-color: $color-white;
                    }

                    .header_item_name {
                        color: $color-white;
                        line-height: 45px;
                        margin: 0 8px;
                        font-size: 2em;
                    }
                }

                nav {
                    display: inline-flex;

                    a {
                        color: $color-white;
                        line-height: 75px;
                        margin: 0 12px;
                    }
                }


                .header_item_icon--right {
                    margin: auto 8px auto 20px;
                    color: $color-white;
                }

                .header_item_icon--left {
                    margin: auto 30px auto 8px;
                    color: $color-white;
                }

            }
        }
    }
}

.title {
    margin-top: 20px;
    color: white;

    .title_bg {
        height: 500px;
        background-color: $color-green-alpha;
        position: relative;

        .title_bg_content {
            margin: auto;
            text-align: center;
            width: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .title {
                font-size: 3em;
                margin: 20px auto;
            }

            input {
                border-radius: 10px;
                border: 0;
                height: 50px;
                width: 150px;
                color: $color-white;
                outline: none;
                background-color: $color-red;
            }
        }
    }
}

.banner {
    width: 100%;
    height: 850px;
    background: url("/public/img/Used-images/africa-2179608_1920.jpg") no-repeat top / 100% auto;
}

.features {
    display: block;
    text-align: center;
    height: auto;

    header {
        margin: 20px 0;
    }

    header+h1 {
        margin: 20px 0;
    }

    .i1 {
        background-color: $color-red;
        padding-top: 30px;
    }

    .i2 {
        background-color: $color-green;
        padding-top: 30px;
    }

    .i3 {
        background-color: $color-gold;
        padding-top: 30px;
    }

    .features_item {
        margin-top: 20px;
        color: $color-white;

        .features_item_icon {
            width: 100px;
            height: 100px;
            background-color: $color-white;
            margin: 0 auto 20px;
        }

        .features_item_title {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1em;
            margin: 0 auto;
            max-width: 250px;
            margin-bottom: 30px;
        }

        input {
            color: $color-white;
            font-weight: bold;
            outline: none;
            border: 0;
            width: 200px;
            height: 50px;
            border-radius: 10px;
            background-color: $color-orange;
            margin-bottom: 20px;
        }
    }

}

.Wecannot {
    margin-top: 100px;

    .Wecannot_image {
        img {
            width: 100%;
        }
    }

    .Wecannot_content {
        .Wecannot_content_title {
            font-size: 3em;
            margin-bottom: 10px;
        }

        .Wecannot_content_button {
            input {
                color: $color-white;
                border: 0;
                outline: none;
                width: 150px;
                height: 50px;
                border-radius: 10px;
                margin: 20px 0;
            }

            .left {
                background-color: $color-green;
            }

            .right {
                background-color: $color-red;
            }
        }

        .Wecannot_content_text {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .Wecannot_content_help {
            margin-top: 20px;

            .Wecannot_content_help_icon {
                font-size: 4em;
                color: $color-red;
            }
        }
    }

    .Wecannot_Weneed {
        margin: 50px 0;

        .Wecannot_Weneed_icon {
            font-size: 3em;
        }

        .Wecannot_Weneed_index {
            font-size: 4em;
            font-weight: bold;
        }

        h1 {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 2em;
        }
    }
}