@import '/public/css/animation.min.css';
$color-red:rgb(248, 70, 70);
$color-red-alpha:rgba(248, 70, 70, 0.800);
$color-gray:rgb(199, 199, 199);
$color-gray-alpha:rgba(199, 199, 199, 0.8);
$color-green:rgb(79, 182, 87);
$color-green-alpha--high:rgba(79, 182, 87, 0.9);
$color-white:white;
$color-green-alpha:rgba(17, 86, 33, 0.408);
$color-gold:rgb(253, 197, 91);
$color-gold-alpha:rgba(253, 197, 91, 0.8);
$color-orange:rgb(250, 158, 52);
$color-blue:rgba(0, 179, 255, 0.993);
$color-blue-alpha:rgba(0, 179, 255, 0.8);
$color-violet:rgb(208, 120, 255);
$color-alpha:rgba(255, 0, 0, 0);

a {
    text-decoration: none;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: $color-gray;

    .row {
        justify-content: space-between;

        .col {
            display: flex;

            .col {
                font-size: 0.75em;
                line-height: 50px;
                text-align: center;
            }

            .donate {
                background-color: $color-green;
            }

            a {
                color: $color-white;
            }
        }



    }
}

.header {
    position: relative;
    z-index: 10;
    height: 75px;
    background-color: $color-red;

    .row {
        margin-top: 20px;
    }

    .header_item {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                display: flex;

                .row {
                    margin: 15px;

                    .header_item_logo {
                        width: 45px;
                        height: 45px;
                        border-radius: 100%;
                        background-color: $color-white;
                    }

                    .header_item_name {
                        color: $color-white;
                        line-height: 45px;
                        margin: 0 8px;
                        font-size: 2em;
                    }
                }

                nav {
                    display: inline-flex;

                    a {
                        color: $color-white;
                        line-height: 75px;
                        margin: 0 12px;
                    }
                }


                .header_item_icon--right {
                    margin: auto 8px auto 20px;
                    color: $color-white;
                }

                .header_item_icon--left {
                    margin: auto 30px auto 8px;
                    color: $color-white;
                }

            }
        }
    }
}

.title {
    position: relative;
    top: -115px;
    margin-top: 20px;
    color: white;

    .title_bg {
        height: 900px;
        position: relative;

        .title_bg_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 2;

            p {
                font-size: 2em;
            }

            h1 {
                font-size: 4em;
            }

            p,
            h1 {
                margin: 50px 0;
            }

            input {
                border-radius: 5px;
                border: 0;
                height: 50px;
                width: 150px;
                color: $color-white;
                outline: none;
                background-color: $color-red;
            }
        }
    }
}

.title_bg_img {
    width: inherit;
    height: inherit;

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    .title_bg_img_overlay {
        position: absolute;
        top: 0;
        z-index: 1;
        width: inherit;
        height: inherit;
        background-color: $color-green-alpha;
    }
}

.title_bg {
    width: 100%;
    height: 950px;

    .title_swiper-container {
        width: inherit;
        height: inherit;
    }
}

.features--1 {
    display: block;
    text-align: center;
    margin: 50px 0;

    header {
        margin: 20px 0;
    }

    header+h1 {
        margin: 20px 0;
    }

    .i1 {
        background-color: $color-red;
        padding-top: 30px;
    }

    .i2 {
        background-color: $color-green;
        padding-top: 30px;
    }

    .i3 {
        background-color: $color-gold;
        padding-top: 30px;
    }

    .features_item {
        margin-top: 20px;
        color: $color-white;

        .features_item_icon {
            width: 100px;
            height: 100px;
            margin: 0 auto 20px;
            font-size: 4.5em;
            color: $color-white;
        }

        .features_item_title {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1em;
            margin: 0 auto;
            max-width: 250px;
            margin-bottom: 30px;
        }

        input {
            color: $color-white;
            font-weight: bold;
            outline: none;
            border: 0;
            width: 200px;
            height: 50px;
            border-radius: 5px;
            background-color: $color-orange;
            margin-bottom: 20px;
        }
    }

}

.Wecannot {
    margin-top: 100px;

    .Wecannot_image {
        overflow: hidden;

        .wecannot-swiper-container {
            width: 100%;
            height: 750px;
            position: relative;

        }

        img {
            width: 100%;
        }

        .swiper-pagination-bullet-active {
            background-color: $color-red;
        }
    }

    .Wecannot_content {
        .Wecannot_content_title {
            font-size: 3em;
            margin-bottom: 10px;
        }

        .Wecannot_content_button {
            input {
                color: $color-white;
                border: 0;
                outline: none;
                width: 150px;
                height: 50px;
                border-radius: 5px;
                margin: 20px 0;
            }

            .left {
                background-color: $color-green;
            }

            .right {
                background-color: $color-red;
            }
        }

        .Wecannot_content_text {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .Wecannot_content_help {
            margin-top: 20px;

            .Wecannot_content_help_icon {
                font-size: 4em;
                color: $color-red;
            }
        }
    }

    .Wecannot_Weneed {
        margin: 50px 0;

        .Wecannot_Weneed_icon {
            font-size: 3em;
        }

        .Wecannot_Weneed_index {
            font-size: 3em;
            font-weight: bold;
        }

        h1 {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 1.5em;
        }
    }
}

.features--2 {
    display: block;
    margin: 50px 0;

    header {
        margin: 20px 0;
        text-align: center;
    }

    header+h1 {
        margin: 20px 0;
        text-align: center;
    }

    background-color: $color-gray-alpha;

    .row {


        .features_item {
            border-radius: 10px 10px 0 0;
            background-color: $color-white;
        }

        .features_item {
            margin: 20px 0;
            position: relative;

            .inner--red {
                width: 100%;
                height: 256px;
                position: absolute;
                background-color: $color-red-alpha;
                border-radius: 10px 10px 0 0;
                display: none;

                .inner_link {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100px;
                    height: 100px;
                    border: 2px dashed $color-white;
                }

                .inner_link:hover {
                    background-color: $color-white;
                    animation: animation-opacity 1s;
                }
            }

            img {
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: auto;
                background-color: red;
            }

            .features_item_rangeslider {
                width: 80%;
                max-height: 20px;
                position: relative;

                .myRanger::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background-color: $color-red;
                }

                .myRanger::-moz-range-thumb {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background-color: $color-red;
                }

                .myRanger {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 10px;
                    background-color: $color-gray;
                    border-radius: 10px;
                    outline: none;
                    position: absolute;
                }

                .processRanger {
                    height: 10px;
                    background-color: $color-red;
                    position: absolute;
                    border-radius: 10px;

                }

                .processRanger+div {
                    width: 100%;
                    height: 20px;
                    background-color: $color-alpha;
                    position: absolute;
                    top: -5px;
                    z-index: 1;
                }

                .pr1 {
                    width: 70%;
                }

                .pr2 {
                    width: 60%;
                }

                .pr3 {
                    width: 80%;
                }

                .pr4 {
                    width: 75%;
                }

                .pr5 {
                    width: 90%;
                }

            }

            .features_item_title {
                text-align: start;
            }

            .features_item_info {
                margin-top: 50px;

                p {
                    font-size: 1em;
                    margin: 20px 0;
                }

                h1 {
                    font-size: 3em;
                    text-align: center;
                    padding: auto 0;
                    line-height: 104px;
                }
            }

            input[type=button] {
                margin: 20px 0;
                color: $color-white;
                outline: none;
                border: 0;
                border-radius: 5px;
                width: 150px;
                height: 50px;
                font-weight: bold;
            }

            .i1 {
                background-color: $color-red;
            }

            .i2 {
                background-color: $color-green;
            }

            .i3 {
                background-color: $color-gold;
            }

            .i4 {
                background-color: $color-violet;
            }

            .i5 {
                background-color: $color-blue;
            }

            .i6 {
                background-color: $color-orange;
            }
        }
    }
}

.explore {
    margin: 50px 0;

    header {
        margin: 20px 0;
        text-align: center;
    }

    header+h1 {
        margin: 20px 0;
        text-align: center;
    }

    .row {
        .col {
            position: relative;
        }

        img {
            width: 100%;
        }

        .explore_info {
            padding: 13px;
            width: 60%;
            height: auto;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            color: $color-white;

            .explore_info_icon {
                text-align: center;
                font-size: 2.5em;
            }

            p {
                font-size: 0.75em;
                text-align: center;
            }

            .fas {
                color: white;
            }
        }

        .col:hover {
            cursor: pointer;
        }

        .medical {
            background-color: $color-red-alpha;
        }

        .education {
            background-color: $color-green-alpha--high;
        }

        .animal {
            background-color: $color-blue-alpha;
        }

        .health {
            background-color: $color-gold-alpha;
        }
    }
}

.testimonials {
    margin: 100px 0;
    background-color: $color-gray-alpha;
    padding: 100px 50px 100px 0;

    .row {
        .col {
            position: relative;
        }

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        header {
            font-weight: bold;
            color: $color-red;
            margin: 20px 0;
        }

        h1 {
            margin: 20px 0;
            font-size: 3em;
        }

        .testimonials_author {
            margin: 20px 0;

            span {
                font-weight: bold;
                font-size: 2em;
            }

            .row {
                justify-content: space-between;

                .testimonials_author_btnslide {
                    .testimonials_author_btnslide--previous {
                        width: 50px;
                        height: 50px;
                        background-color: $color-red;
                    }

                    .testimonials_author_btnslide--next {
                        width: 50px;
                        height: 50px;
                        background-color: $color-red;
                    }
                }
            }
        }
    }
}

.client {
    margin: 100px 0;

    .client_form {
        height: 100px;
        background-color: $color-red;

        h1 {
            font-size: 2em;
            text-align: center;
            line-height: 100px;
            background-color: $color-red;
            color: $color-white;
        }

        .client_form_more {
            height: 100px;
            background-color: $color-green;
        }

    }
}

.event {
    margin: 50px 0;

    header {
        margin: 20px 0;
        text-align: center;
    }

    header+h1 {
        margin: 20px 0;
        text-align: center;
    }

    .row {
        img {
            width: 100%;
        }
    }

    .swiper-container-btn {
        width: 150px;
        height: 30px;
        position: relative;
        margin: 70px auto 20px;

        .swiper-button-next,
        .swiper-button-prev {
            color: $color-red;
            font-size: 2em;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            content: '';
            font-family: Arial, Helvetica, sans-serif;
        }

        .swiper-pagination {
            left: 50%;
            transform: translateX(-50%);
        }

        .swiper-pagination-bullet-active {
            background-color: $color-red;
        }
    }


    .swiper-slide {
        position: relative;
    }

    .event_item {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: -50px;
        background-color: $color-white;
        width: 400px;
        padding: 15px;
        box-shadow: 2px 5px 5px $color-gray;

        .event_item_time {
            text-align: center;

            div {
                margin: auto 0;
                width: 65px;
                height: 65px;
                color: $color-white;
            }

            p {
                .event_item_time_day {
                    font-size: 2em;
                    font-weight: bold;
                }

                .event_item_time_month {
                    top: -10px;
                    position: relative;
                    font-size: 1.2em;
                }
            }



        }

        .event_item_title {
            margin: auto 0;
        }

        .i1 {
            border-radius: 100%;
            background-color: $color-red;
        }

        .i2 {
            border-radius: 100%;
            background-color: $color-green;
        }
    }
}